# Data Types and Structures in Python

While numpy arrays are heavily used in scientific research, it is still good to know the native data types and structures that are present in pure Python.

Lists are the data structure that you will probably use most often when not using numpy arrays, followed by tuple, dicts, and sets.

## Lists

Lists are 1D arrays that can contain elements of multiple types (int, float, string, list, etc.).

Lists can be created using [] or with the list() function.

In [8]:
list_1 = [1, 2, 3]
list_2 = list([2,3,4])
print("list 1:", list_1, "\nlist 2:", list_2)

list 1: [1, 2, 3]
list 2: [2, 3, 4]

Create a nested list:

In [14]:
nested_list = [(1, 2, 3), [4, 5]]
nested_list

[(1, 2, 3), [4, 5]]

Access elements of a list, remember indexing starts at 0.

In [15]:
nested_list[1]

[4, 5]

Append an element to a list:

In [16]:
nested_list.append(6)
nested_list

[(1, 2, 3), [4, 5], 6]

Insert an element to a list at a specific index (note that insert is expensive as it has to shift subsequent elements O(n)):

In [17]:
nested_list.insert(0, 'start')
nested_list

['start', (1, 2, 3), [4, 5], 6]

Pop is expensive as it has to shift subsequent elements O(n).  The operation is O(1) if pop is used for the last element.

Remove and return an element from a specified index:

In [18]:
nested_list.pop(0)
nested_list

[(1, 2, 3), [4, 5], 6]

Locates the first such value and remove it O(n):

In [19]:
nested_list.remove((1, 2, 3))
nested_list

[[4, 5], 6]

Check if a list contains a value O(n):

In [20]:
6 in nested_list

True

Concatenate lists by creating a new list and copying objects:

In [21]:
[1, 3, 2] + [4, 5, 6]

[1, 3, 2, 4, 5, 6]

Extend a list by appending elements (faster than concatenating lists, as it does not have to create a new list):

In [22]:
nested_list.extend([7, 8, 9])
nested_list

[[4, 5], 6, 7, 8, 9]

Lists can be sorted:

In [68]:
seq = ['the', 'quick', 'brown', 'fox', 'jumps', 'over']
seq.sort(key=len)
seq

['the', 'fox', 'over', 'quick', 'brown', 'jumps']

## List Comprehensions

List comprehensions concisely form a new list by filtering the elements of a sequence and transforming the elements passing the filter.  List comprehensions take the form:
```python
[expr for val in collection if condition]
```
Which is equivalent to the following for loop:
```python
result = []
for val in collection:
    if condition:
        result.append(expr)
```

Convert to upper case all strings that start with a 'b':

In [23]:
strings = ['foo', 'bar', 'baz', 'f', 'fo', 'b', 'ba']
[x.upper() for x in strings if x[0] == 'b']

['BAR', 'BAZ', 'B', 'BA']

List comprehensions can be nested:

In [24]:
list_of_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
[x for tup in list_of_tuples for x in tup]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

List comphrehension is very useful when needing to create a list of parameters that you need to use to sweep through parameter space.

In [27]:
alpha = [0.1 * x for x in range(11)]
print(alpha)

[0.0, 0.1, 0.2, 0.30000000000000004, 0.4, 0.5, 0.6000000000000001, 0.7000000000000001, 0.8, 0.9, 1.0]

Notice that there are precision issues when using floats. For most tasks this should not really matter, but for things like money where it does matter, check out the python [decimal library](https://docs.python.org/3/library/decimal.html).

## Tuples

A tuple is a one dimensional, fixed-length, immutable sequence. This means that unlike lists, you can't append or remove elements from a tuple.

Tuples can be created using the tuple() function as well as using (). In the case where you are making tuples of length 1, you need to add a trailing comma so that you get a tuple and not just a scaler.

In [28]:
tup = (1, 2, 3)
tup

(1, 2, 3)

In [30]:
good_tuple = (2,)
bad_tuple = (2)
print(type(good_tuple), good_tuple)
print(type(bad_tuple), bad_tuple)

<class 'tuple'> (2,)
<class 'int'> 2

Convert a list to a tuple:

In [31]:
list_1 = [1, 2, 3]
type(tuple(list_1))

tuple

Create a nested tuple:

In [32]:
nested_tup = ([1, 2, 3], (4, 5))
nested_tup

([1, 2, 3], (4, 5))

Access a tuple's elements by index O(1):

In [33]:
nested_tup[0]

[1, 2, 3]

Although tuples are immutable, their contents can contain mutable objects.  

Modify a tuple's contents:

In [34]:
nested_tup[0].append(4)
nested_tup[0]

[1, 2, 3, 4]

Concatenate tuples by creating a new tuple and copying objects:

In [35]:
(1, 3, 2) + (4, 5, 6)

(1, 3, 2, 4, 5, 6)

Multiply tuples to copy references to objects (objects themselves are not copied):

In [36]:
('foo', 'bar') * 2

('foo', 'bar', 'foo', 'bar')

Unpack tuples:

In [37]:
a, b = nested_tup
a, b

([1, 2, 3, 4], (4, 5))

Unpack nested tuples:

In [38]:
(a, b, c, d), (e, f) = nested_tup
a, b, c, d, e, f

(1, 2, 3, 4, 4, 5)

A common use of variable unpacking is when iterating over sequences of tuples or lists:

In [39]:
seq = [( 1, 2, 3), (4, 5, 6), (7, 8, 9)] 
for a, b, c in seq: 
    print(a, b, c)

1 2 3
4 5 6
7 8 9

## Dicts

A dict is a mutable collection of key-value pairs, {key: value}.

Create a dict:

In [40]:
dict_1 = { 'a' : 'foo', 'b' : [0, 1, 2, 3] }
dict_1

{'a': 'foo', 'b': [0, 1, 2, 3]}

Access a dict's elements using a key.

In [42]:
dict_1['b']

[0, 1, 2, 3]

Add or change a dictionaries key, value pair.

In [43]:
dict_1[5] = 'bar'
dict_1

{'a': 'foo', 'b': [0, 1, 2, 3], 5: 'bar'}

Check if a dict contains a key.

In [44]:
5 in dict_1

True

Delete a key, value pair from a dict.

In [45]:
dict_2 = dict(dict_1)
del dict_2[5]
dict_2

{'a': 'foo', 'b': [0, 1, 2, 3]}

Remove and return an element from a specified index O(1):

In [46]:
value = dict_2.pop('b')
print(value)
print(dict_2)

[0, 1, 2, 3]
{'a': 'foo'}

Get or pop can be called with a default value if the key is not found.  By default, get() will return None and pop() will throw an exception if the key is not found.

In [47]:
value = dict_1.get('z', 0)
value

0

Return a default value if the key is not found:

In [48]:
print(dict_1.setdefault('b', None))
print(dict_1.setdefault('z', None))

[0, 1, 2, 3]
None

By contrast to setdefault(), defaultdict lets you specify the default when the container is initialized, which works well if the default is appropriate for all keys:

In [49]:
from collections import defaultdict

seq = ['foo', 'bar', 'baz']
first_letter = defaultdict(list)
for elem in seq:
    first_letter[elem[0]].append(elem)
first_letter

defaultdict(list, {'f': ['foo'], 'b': ['bar', 'baz']})

dict keys must be "hashable", i.e. they must be immutable objects like scalars (int, float, string) or tuples whose objects are all immutable.  Lists are mutable and therefore are not hashable, although you can convert the list portion to a tuple as a quick fix.

In [50]:
print(hash('string'))
print(hash((1, 2, (3, 4))))

-3250138016479926230
-2725224101759650258

Get the list of keys in no particular order (although keys() outputs the keys in the same order).  In Python 3, keys() returns an iterator instead of a list.

In [51]:
dict_1.keys()

dict_keys(['a', 'b', 5, 'z'])

Get the list of values in no particular order (although values() outputs the keys in the same order).  In Python 3, values() returns a [view object](https://docs.python.org/3/library/stdtypes.html?highlight=dictview#dictionary-view-objects) instead of a list.

In [52]:
dict_1.values()

dict_values(['foo', [0, 1, 2, 3], 'bar', None])

Iterate through a dictionary's keys and values:

In [54]:
for key, value in dict_1.items():
    print(key, value)

a foo
b [0, 1, 2, 3]
5 bar
z None

Merge one dict into another:

In [55]:
dict_1.update({'e' : 'elephant', 'f' : 'fish'})
dict_1

{'a': 'foo',
 'b': [0, 1, 2, 3],
 5: 'bar',
 'z': None,
 'e': 'elephant',
 'f': 'fish'}

Pair up two sequences element-wise in a dict:

In [56]:
mapping = dict(zip(range(7), reversed(range(7))))
mapping

{0: 6, 1: 5, 2: 4, 3: 3, 4: 2, 5: 1, 6: 0}

## Dict Comprehension

A dict comprehension is similar to a list comprehension but returns a dict.

Create a mapping of strings and their locations in the list for strings that start with a 'b':

In [66]:
{index : val for index, val in enumerate(strings) if val[0] == 'b'}

{1: 'bar', 2: 'baz', 5: 'b', 6: 'ba'}

## Sets

A set is an unordered sequence of unique elements. Can be really helpful when you only care about unique elements and can ignore duplicates.

Create a set:

In [57]:
set_1 = set([0, 1, 2, 3, 4, 5])
set_1

{0, 1, 2, 3, 4, 5}

In [58]:
set_2 = {1, 2, 3, 5, 8, 13}
set_2

{1, 2, 3, 5, 8, 13}

Sets support set operations like union, intersection, difference, and symmetric difference.

Union O(len(set_1) + len(set_2)):

In [59]:
set_1 | set_2

{0, 1, 2, 3, 4, 5, 8, 13}

Intersection O(min(len(set_1), len(set_2)):

In [60]:
set_1 & set_2

{1, 2, 3, 5}

Difference O(len(set_1)):

In [61]:
set_1 - set_2

{0, 4}

Symmetric Difference O(len(set_1)):

In [62]:
set_1 ^ set_2

{0, 4, 8, 13}

Subset O(len(set_3)):

In [63]:
set_3 = {1, 2, 3}
set_3.issubset(set_2)

True

Superset O(len(set_3)):

In [64]:
set_2.issuperset(set_3)

True

Equal O(min(len(set_1), len(set_2)):

In [65]:
{1, 2, 3} == {3, 2, 1}

True

## Set Comprehension

A set comprehension is similar to a list comprehension but returns a set.

Get the unique lengths of strings that start with a 'b':

In [67]:
{len(x) for x in strings if x[0] == 'b'}

{1, 2, 3}

# Data Structure Utilities

* slice
* range and xrange
* bisect
* sort
* sorted
* reversed
* enumerate
* zip
* list comprehensions

## slice

Slice selects a section of list types (arrays, tuples, NumPy arrays) with its arguments [start:end]: start is included, end is not.  The number of elements in the result is stop - end.

![alt text](http://www.nltk.org/images/string-slicing.png)

Image source: http://www.nltk.org/images/string-slicing.png

Slice 4 elements starting at index 6 and ending at index 9:

seq = 'Monty Python'
seq[6:10]

Omit start to default to start of the sequence:

seq[:5]

Omit end to default to end of the sequence:

seq[6:]

Negative indices slice relative to the end:

seq[-12:-7]

Slice can also take a step [start:end:step].

Get every other element:

seq[::2]

Passing -1 for the step reverses the list or tuple:

seq[::-1]

You can assign elements to a slice (note the slice range does not have to equal number of elements to assign):

seq = [1, 1, 2, 3, 5, 8, 13]
seq[5:] = ['H', 'a', 'l', 'l']
seq

Compare the output of assigning into a slice (above) versus the output of assigning into an index (below):

seq = [1, 1, 2, 3, 5, 8, 13]
seq[5] = ['H', 'a', 'l', 'l']
seq

## range and xrange

Generate a list of evenly spaced integers with range or xrange.  Note: range in Python 3 returns a generator and xrange is not available.

Generate 10 integers:

range(10)

Range can take start, stop, and step arguments:

range(0, 20, 3)

It is very common to iterate through sequences by index with range:

seq = [1, 2, 3]
for i in range(len(seq)):
    val = seq[i]
    print(val)

For longer ranges, xrange is recommended and is available in Python 3 as range.  It returns an iterator that generates integers one by one rather than all at once and storing them in a large list.

sum = 0
for i in xrange(100000):
    if i % 2 == 0:
        sum += 1
print(sum)

## bisect

The bisect module does not check whether the list is sorted, as this check would be expensive O(n).  Using bisect on an unsorted list will not result in an error but could lead to incorrect results.

import bisect

Find the location where an element should be inserted to keep the list sorted:

seq = [1, 2, 2, 3, 5, 13]
bisect.bisect(seq, 8)

Insert an element into a location to keep the list sorted:

bisect.insort(seq, 8)
seq

## sort

Sort in-place O(n log n)

seq = [1, 5, 3, 9, 7, 6]
seq.sort()
seq

Sort by the secondary key of str length:

## sorted

Return a new sorted list from the elements of a sequence O(n log n):

sorted([2, 5, 1, 8, 7, 9])

sorted('foo bar baz')

It's common to get a sorted list of unique elements by combining sorted and set:

seq = [2, 5, 1, 8, 7, 9, 9, 2, 5, 1, (4, 2), (1, 2), (1, 2)]
sorted(set(seq))

## reversed

Iterate over the sequence elements in reverse order:

list(reversed(seq))

## enumerate

Get the index of a collection and the value:

strings = ['foo', 'bar', 'baz']
for i, string in enumerate(strings):
    print(i, string)

## zip

Pair up the elements of sequences to create a list of tuples:

seq_1 = [1, 2, 3]
seq_2 = ['foo', 'bar', 'baz']
zip(seq_1, seq_2)

Zip takes an arbitrary number of sequences.  The number of elements it produces is determined by the shortest sequence:

seq_3 = [True, False]
zip(seq_1, seq_2, seq_3)

It is common to use zip for simultaneously iterating over multiple sequences combined with enumerate:

for i, (a, b) in enumerate(zip(seq_1, seq_2)):
    print('%d: %s, %s' % (i, a, b))

Zip can unzip a zipped sequence, which you can think of as converting a list of rows into a list of columns:

numbers = [(1, 'one'), (2, 'two'), (3, 'three')]
a, b = zip(*numbers)
a

b